.DS_Store

.config/*

!.config/fish/
!.config/fish/config.fish
!.config/fish/config-local.fish
!.config/fish/conf.d/
!.config/fish/conf.d/tide.fish

!.config/nvim

.config/nvim/lazy-lock.json
.config/nvim/spell/*
