[alias]
	aa = add --all
	br = branch
	ci = commit
	cia = commit --amend
	cis = commit --gpg-sign
	cl = clean -f
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch --prune
	fz = "!git l | fzf | awk '{print $2}' | xargs -I {} git diff {}^ {}"
	l = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%Creset\" --all --date=relative --graph
	m = "!git merge --no-commit $1"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	psf = "!git push --force origin $(git rev-parse --abbrev-ref HEAD)"
	r = !git l -30
	rb = "!sh -c \"git rebase -i HEAD~$1\" -"
	sh = "!sh -c \"git diff-tree --no-commit-id --name-only -r $1 | xargs nvim\" -"
	st = status -s
	v = "!nvim $(git status --porcelain | awk '{print $2}')"
[core]
	editor = nvim
	autocrlf = input
[init]
	defaultBranch = master
[user]
	name = zerdaks
	email = 7451424+zerdaks@users.noreply.github.com
	signingkey = EC96D9796A10157E
[url "https://github.com/"]
	insteadOf = git://github.com/
[pull]
	rebase = false
